@model GUI.lab19.Models.Applicant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Applicant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_Name" class="control-label">Name</label>
                <input asp-for="_Name" class="form-control" />
                <span asp-validation-for="_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Email" class="control-label">Email</label>
                <input asp-for="_Email" class="form-control" />
                <span asp-validation-for="_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Experience" class="control-label">Experience</label>
                <input asp-for="_Experience" class="form-control" />
                <span asp-validation-for="_Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Apply Now" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
